extends ../base
block title
  |Index page
block main
  main
    .demo
      h1
        |Webpack template with
        |
        span#list
      a(href='https://webpack.js.org').link
        img(src=require('./webpack_logo.svg'))
